Repository viridIT/vSMTP, pull requests merged in 2022-02, with the labels that each got.

#111 Feat/force accept
  src/model/mail.rs
  src/queue.rs
  src/resolver/smtp_resolver.rs
  src/rules/rule_engine.rs
  src/server.rs
  src/test_helpers.rs
  src/transaction.rs
Labels: A-rule engine

#114 HELO command address literals
  src/smtp/event.rs
Labels: A-protocol

#115 feat: add listener for submission(s) (465 & 587)
  Cargo.toml
  benches/bench.config.toml
  config/vsmtp.default.toml
  config/vsmtp.dev-local.toml
  fuzz/fuzz_targets/fuzz.config.toml
  src/config/server_config.rs
  src/connection.rs
  src/mime/parser.rs
  src/rules/tests/configs/default.config.toml
  src/server.rs
  src/test_helpers.rs
  tests/dos/dos.config.toml
  tests/integration/protocol/clair.config.toml
  tests/send.rs
Labels: enhancement, tests, P-high, A-protocol, A-security

#117 test: adding test
  Cargo.toml
  src/mime/parser.rs
  src/smtp/event.rs
  src/smtp/event_tests.rs
  src/smtp/mod.rs
  src/smtp/state.rs
  tests/dos/mod.rs
  tests/mod.rs
  tests/test.vsl
Labels: tests

#116 Feat/integration clamav
  config/vsmtp.dev-local.toml
  example/shell.vsl
  src/rules/actions.rs
  src/rules/currying.rhai
  src/rules/rule_engine.rs
Labels: enhancement, A-rule engine, P-high

#118 Resolver tests
  Cargo.toml
  benches/receiver.rs
  src/processes/delivery.rs
  src/processes/mime.rs
  src/queue.rs
  src/resolver/maildir_resolver.rs
  src/resolver/mbox_resolver.rs
  src/resolver/mod.rs
  src/resolver/smtp_resolver.rs
  src/rules/currying.rhai
  src/rules/rule_engine.rs
  src/rules/tests/mail.rs
  src/rules/tests/mod.rs
  src/rules/tests/rcpt.rs
  src/server.rs
  src/test_helpers.rs
  src/transaction.rs
  tests/integration/protocol/clair.rs
  tests/integration/protocol/rset.rs
  tests/integration/protocol/utf8.rs
Labels: tests

#133 Update receiver folder & test tls transaction
  Cargo.toml
  benches/receiver.rs
  fuzz/fuzz_targets/fuzz.config.toml
  fuzz/fuzz_targets/receiver.rs
  src/config/config_builder.rs
  src/config/server_config.rs
  src/lib.rs
  src/model/mod.rs
  src/processes/delivery.rs
  src/processes/mime.rs
  src/queue.rs
  src/receiver/connection.rs
  src/receiver/io_service.rs
  src/receiver/mod.rs
  src/receiver/test_helpers.rs
  src/receiver/tests/certs/README.txt
  src/receiver/tests/certs/certificate.crt
  src/receiver/tests/certs/privateKey.key
  src/receiver/tests/clair.rs
  src/receiver/tests/mail/ar.txt
  src/receiver/tests/mail/el.txt
  src/receiver/tests/mail/ko.txt
  src/receiver/tests/mail/zh.txt
  src/receiver/tests/mod.rs
  src/receiver/tests/rset.rs
  src/receiver/tests/tls_tunneled.rs
  src/receiver/tests/utf8.rs
  src/receiver/transaction.rs
  src/resolver/maildir_resolver.rs
  src/resolver/mbox_resolver.rs
  src/resolver/mod.rs
  src/resolver/smtp_resolver.rs
  src/rules/actions.rs
  src/rules/rule_engine.rs
  src/rules/tests/connect.rs
  src/rules/tests/helo.rs
  src/rules/tests/mail.rs
  src/rules/tests/mod.rs
  src/rules/tests/r_lookup.rs
  src/rules/tests/rcpt.rs
  src/server.rs
  src/smtp/envelop.rs
  src/smtp/mail.rs
  src/smtp/mod.rs
  src/tls.rs
  tests/integration/mod.rs
  tests/integration/protocol/clair.rs
  tests/integration/protocol/rset.rs
  tests/integration/protocol/utf8.rs
  tests/mod.rs
  tests/send.rs
Labels: tests, P-critical, A-protocol

#136 Command config show & diff
  Cargo.toml
  src/config/config_builder.rs
  src/config/server_config.rs
  src/main.rs
  src/smtp/code.rs
Labels: enhancement, A-config, A-security

#137 Deps/bump version
  Cargo.toml
  benches/receiver.rs
  fuzz/fuzz_targets/receiver.rs
  src/config/config_builder.rs
  src/main.rs
  src/receiver/tests/clair.rs
  src/receiver/tests/rset.rs
  src/receiver/tests/tls_tunneled.rs
  src/receiver/tests/utf8.rs
  src/rules/tests/mod.rs
  src/tls_helpers.rs
Labels: P-medium

#140 More test on message parser
  src/mime/parser.rs
  src/mime/tests/mail/mime1.eml
  src/mime/tests/mail/rfc5322/A.1.1.a.eml
  src/mime/tests/mail/rfc5322/A.1.1.b.eml
  src/mime/tests/mail/rfc5322/A.1.2.eml
  src/mime/tests/mail/rfc5322/A.1.3.eml
  src/mime/tests/mail/rfc5322/A.2.a.eml
  src/mime/tests/mail/rfc5322/A.2.b.eml
  src/mime/tests/mail/rfc5322/A.2.c.eml
  src/mime/tests/mail/rfc5322/A.3.eml
  src/mime/tests/mail/rfc5322/A.4.eml
  src/mime/tests/mail/rfc5322/A.5.eml
  src/mime/tests/mime_parser/allen_p__discussion_threads__1.rs
  src/mime/tests/mime_parser/mime1.rs
  src/mime/tests/mime_parser/rfc5322/a_1_1.rs
  src/mime/tests/mime_parser/rfc5322/a_1_2.rs
  src/mime/tests/mime_parser/rfc5322/a_1_3.rs
  src/mime/tests/mime_parser/rfc5322/a_2.rs
  src/mime/tests/mime_parser/rfc5322/a_3.rs
  src/mime/tests/mime_parser/rfc5322/a_4.rs
  src/mime/tests/mime_parser/rfc5322/a_5.rs
  src/mime/tests/mime_parser/rfc5322/mod.rs
  src/mime/tests/mod.rs
Labels: tests, A-mime

#141 feat: add thread count for server in config
  .vscode/settings.json
  Cargo.toml
  benches/receiver.rs
  config/vsmtp.default.toml
  config/vsmtp.dev-local.toml
  src/config/config_builder.rs
  src/config/default.rs
  src/config/serializer.rs
  src/config/server_config.rs
  src/config/template/smtps.toml
  src/main.rs
  src/receiver/tests/clair.rs
  src/receiver/tests/rset.rs
  src/receiver/tests/tls_tunneled.rs
  src/receiver/tests/utf8.rs
  src/rules/tests/mod.rs
  src/server.rs
Labels: enhancement, A-config

#139 Config path whitelisted
  benches/receiver.rs
  src/config/config_builder.rs
  src/config/default.rs
  src/config/serializer.rs
  src/config/server_config.rs
  src/main.rs
  src/receiver/tests/clair.rs
  src/receiver/tests/rset.rs
  src/receiver/tests/tls_tunneled.rs
  src/receiver/tests/utf8.rs
  src/rules/tests/mod.rs
  src/server.rs
  src/tls_helpers.rs
Labels: P-high, A-config, A-security

#144 Test : update stress test
  .vscode/settings.json
  Cargo.toml
  tests/dos/dos.config.toml
  tests/dos/mod.rs
  tests/stress.rs
Labels: tests

#146 Rule Engine Overall
  Cargo.toml
  fuzz/fuzz_targets/receiver.rs
  src/main.rs
  src/processes/delivery.rs
  src/processes/mime.rs
  src/queue.rs
  src/receiver/mod.rs
  src/receiver/test_helpers.rs
  src/receiver/tests/clair.rs
  src/receiver/tests/rset.rs
  src/receiver/tests/tls_tunneled.rs
  src/receiver/transaction.rs
  src/resolver/maildir_resolver.rs
  src/resolver/mbox_resolver.rs
  src/resolver/smtp_resolver.rs
  src/rules/actions.rs
  src/rules/address.rs
  src/rules/currying.rhai
  src/rules/mod.rs
  src/rules/modules/actions.rs
  src/rules/modules/email.rs
  src/rules/modules/mod.rs
  src/rules/modules/types.rs
  src/rules/obj.rs
  src/rules/operation_queue.rs
  src/rules/rule_engine.rs
  src/rules/rule_executor.rhai
  src/rules/tests/actions.rs
  src/rules/tests/connect.rs
  src/rules/tests/helo.rs
  src/rules/tests/mail.rs
  src/rules/tests/mod.rs
  src/rules/tests/object_parsing.rs
  src/rules/tests/r_lookup.rs
  src/rules/tests/rcpt.rs
  src/rules/tests/rules/connect/invalid_connect.vsl
  src/rules/tests/rules/connect/main.vsl
  src/rules/tests/rules/connect/valid_connect.vsl
  src/rules/tests/rules/helo/file_helo.vsl
  src/rules/tests/rules/helo/helo.txt
  src/rules/tests/rules/helo/main.vsl
  src/rules/tests/rules/helo/regex_helo.vsl
  src/rules/tests/rules/helo/valid_helo.vsl
  src/rules/tests/rules/mail/mail.vsl
  src/rules/tests/rules/mail/main.vsl
  src/rules/tests/rules/mail/rw_mail.vsl
  src/rules/tests/rules/rcpt/add_rcpt.vsl
  src/rules/tests/rules/rcpt/contains_rcpt.vsl
  src/rules/tests/rules/rcpt/main.vsl
  src/rules/tests/rules/rcpt/rcpt.vsl
  src/rules/tests/rules/rcpt/rm_rcpt.vsl
  src/rules/tests/rules/rcpt/rw_rcpt.vsl
  src/rules/tests/rules/users/users.vsl
  src/rules/tests/users.rs
  src/server.rs
  src/smtp/mail.rs
  src/tls_helpers.rs
  tests/stress.rs
Labels: enhancement, C-architecture, A-rule engine, P-high, A-vsl

#145 test: add test for starttls
  src/receiver/test_helpers.rs
  src/receiver/tests/clair.rs
  src/receiver/tests/mod.rs
  src/receiver/tests/rset.rs
  src/receiver/tests/starttls.rs
  src/receiver/tests/tls_tunneled.rs
Labels: tests, A-protocol

#147 Feat/service
  .vscode/settings.json
  Cargo.toml
  benches/receiver.rs
  config/vsmtp.dev-local.toml
  example/antivirus/main.vsl
  example/antivirus/service/clamscan.sh
  example/antivirus/vsmtp.toml
  example/example.vsl
  fuzz/fuzz_targets/receiver.rs
  src/config/config_builder.rs
  src/config/mod.rs
  src/config/serializer.rs
  src/config/server_config.rs
  src/config/template/services.toml
  src/config/tests/mod.rs
  src/main.rs
  src/receiver/tests/clair.rs
  src/receiver/tests/rset.rs
  src/receiver/tests/starttls.rs
  src/receiver/tests/tls_tunneled.rs
  src/receiver/tests/utf8.rs
  src/rules/currying.rhai
  src/rules/error.rs
  src/rules/mod.rs
  src/rules/modules/actions.rs
  src/rules/modules/types.rs
  src/rules/rule_engine.rs
  src/rules/service.rs
  src/rules/tests/mod.rs
  src/server.rs
  src/smtp/mail.rs
  src/tls_helpers.rs
  tests/stress.rs
Labels: enhancement, A-rule engine, P-high, A-vsl, A-config

#148 Fork on start of vSMTP
  .github/workflows/ci.yaml
  .vscode/settings.json
  benches/receiver.rs
  config/vsmtp.dev-local.toml
  example/antivirus/vsmtp.toml
  src/config/config_builder.rs
  src/config/default.rs
  src/config/server_config.rs
  src/config/template/services.toml
  src/config/template/simple.toml
  src/config/template/smtps.toml
  src/config/tests/mod.rs
  src/lib.rs
  src/main.rs
  src/my_libc.rs
  src/receiver/tests/clair.rs
  src/receiver/tests/rset.rs
  src/receiver/tests/starttls.rs
  src/receiver/tests/tls_tunneled.rs
  src/receiver/tests/utf8.rs
  src/rules/tests/mod.rs
  src/server.rs
  tests/stress.rs
Labels: enhancement, A-config

#149 Rule Engine Tests
  Cargo.toml
  src/mime/mail.rs
  src/processes/delivery.rs
  src/processes/mime.rs
  src/receiver/test_helpers.rs
  src/receiver/tests/clair.rs
  src/receiver/transaction.rs
  src/rules/error.rs
  src/rules/modules/actions.rs
  src/rules/modules/email.rs
  src/rules/modules/types.rs
  src/rules/obj.rs
  src/rules/rule_engine.rs
  src/rules/rule_executor.rhai
  src/rules/tests/actions/logs/main.vsl
  src/rules/tests/actions/mod.rs
  src/rules/tests/actions/send_mail/main.vsl
  src/rules/tests/actions/send_mail/template.eml
  src/rules/tests/actions/users/main.vsl
  src/rules/tests/connect.rs
  src/rules/tests/email/main.vsl
  src/rules/tests/email/mod.rs
  src/rules/tests/email/write/main.vsl
  src/rules/tests/helo.rs
  src/rules/tests/mail.rs
  src/rules/tests/mod.rs
  src/rules/tests/rcpt.rs
  src/rules/tests/rules/actions/r_lookup.vsl
  src/rules/tests/rules/actions/r_lookup_failure.vsl
  src/rules/tests/rules/connect/main.vsl
  src/rules/tests/rules/helo/main.vsl
  src/rules/tests/rules/mail/main.vsl
  src/rules/tests/rules/mod.rs
  src/rules/tests/rules/parsing/objects-parsing.vsl
  src/rules/tests/rules/rcpt/main.vsl
  src/rules/tests/rules/users/users.vsl
  src/rules/tests/types/address/main.vsl
  src/rules/tests/types/address/whitelist.txt
  src/rules/tests/types/mod.rs
  src/rules/tests/types/objects/main.vsl
  src/rules/tests/types/objects/vars.vsl
  src/rules/tests/types/service/main.vsl
  src/rules/tests/types/socket/main.vsl
  src/rules/tests/types/status/main.vsl
  src/rules/tests/types/time/main.vsl
Labels: A-rule engine, tests, A-vsl

#155 Improve tls config error handling
  .github/workflows/ci.yaml
  .vscode/settings.json
  example/complete.toml
  src/lib.rs
  src/main.rs
  src/rules/service.rs
  src/tls_helpers.rs
Labels: P-medium

#156 Vsl Body Manipulation
  Cargo.toml
  src/processes/delivery.rs
  src/processes/mime.rs
  src/receiver/test_helpers.rs
  src/resolver/maildir_resolver.rs
  src/rules/address.rs
  src/rules/modules/email.rs
  src/rules/obj.rs
  src/rules/rule_engine.rs
  src/rules/tests/email/add_header/add_header.vsl
  src/rules/tests/email/add_header/main.vsl
  src/rules/tests/email/bcc/bcc.vsl
  src/rules/tests/email/bcc/main.vsl
  src/rules/tests/email/dump/main.vsl
  src/rules/tests/email/mod.rs
  src/rules/tests/engine/errors.vsl
  src/rules/tests/engine/main.vsl
  src/rules/tests/engine/mod.rs
  src/rules/tests/mod.rs
  src/server.rs
Labels: enhancement, A-rule engine, P-high, A-vsl

#157 App & User logs
  src/config/config_builder.rs
  src/config/default.rs
  src/config/mod.rs
  src/config/server_config.rs
  src/config/template/services.toml
  src/config/tests/mod.rs
  src/main.rs
  src/receiver/test_helpers.rs
  src/receiver/tests/starttls.rs
  src/receiver/tests/tls_tunneled.rs
  src/rules/error.rs
  src/rules/modules/actions.rs
  src/rules/rule_engine.rs
  src/rules/service.rs
  src/rules/tests/actions/logs/main.vsl
  src/rules/tests/actions/mod.rs
  src/rules/tests/email/dump/main.vsl
  src/rules/tests/email/main.vsl
  src/rules/tests/email/mod.rs
  src/rules/tests/email/write/main.vsl
  src/rules/tests/engine/error_handling/errors.vsl
  src/rules/tests/engine/error_handling/main.vsl
  src/rules/tests/engine/mod.rs
  src/rules/tests/engine/syntax/action_missing_evaluate.vsl
  src/rules/tests/engine/syntax/bad_action.vsl
  src/rules/tests/engine/syntax/bad_object.vsl
  src/rules/tests/engine/syntax/bad_rule.vsl
  src/rules/tests/engine/syntax/main.vsl
  src/rules/tests/engine/syntax/rule_missing_evaluate.vsl
  src/rules/tests/rules/connect/main.vsl
  src/rules/tests/rules/mod.rs
  src/rules/tests/types/mod.rs
  src/server.rs
Labels: A-vsl, A-config
