Repository viridIT/vSMTP, pull requests merged in 2022-04, with the labels that each got.

#212 feat: parse cipher_list & tweaks test for cov
  Cargo.lock
  vsmtp-common/Cargo.toml
  vsmtp-common/src/address.rs
  vsmtp-common/src/lib.rs
  vsmtp-common/src/rcpt.rs
  vsmtp-common/src/state.rs
  vsmtp-common/src/transfer.rs
  vsmtp-config/src/builder/validate.rs
  vsmtp-config/src/builder/with.rs
  vsmtp-config/src/config.rs
  vsmtp-config/src/default.rs
  vsmtp-config/src/lib.rs
  vsmtp-config/src/parser/syst_group.rs
  vsmtp-config/src/parser/syst_user.rs
  vsmtp-config/src/parser/tls_cipher_suite.rs
  vsmtp-config/src/tests/mod.rs
  vsmtp-delivery/Cargo.toml
  vsmtp-delivery/src/lib.rs
  vsmtp-delivery/src/transport/deliver.rs
  vsmtp-delivery/src/transport/forward.rs
  vsmtp-delivery/src/transport/mbox.rs
  vsmtp-rule-engine/Cargo.toml
  vsmtp-rule-engine/src/obj.rs
  vsmtp-server/src/auth.rs
  vsmtp-server/src/receiver/auth_exchange.rs
  vsmtp-server/src/receiver/mod.rs
  vsmtp-server/src/receiver/test_helpers.rs
  vsmtp-server/src/receiver/tests/auth/all_mechanism.rs
  vsmtp-server/src/receiver/tests/auth/basic.rs
  vsmtp-server/src/receiver/tests/auth/mod.rs
  vsmtp-server/src/server.rs
Labels: C-enhancement, P-medium, A-protocol, A-config

#215 Object Syntax
  Cargo.lock
  vsmtp-delivery/Cargo.toml
  vsmtp-rule-engine/src/dsl/action_parsing.rs
  vsmtp-rule-engine/src/dsl/mod.rs
  vsmtp-rule-engine/src/dsl/object_parsing.rs
  vsmtp-rule-engine/src/dsl/rule_parsing.rs
  vsmtp-rule-engine/src/lib.rs
  vsmtp-rule-engine/src/obj.rs
  vsmtp-rule-engine/src/rule_engine.rs
  vsmtp-rule-engine/src/tests/email/bcc/main.vsl
  vsmtp-rule-engine/src/tests/rules/helo/main.vsl
  vsmtp-rule-engine/src/tests/rules/mail/main.vsl
  vsmtp-rule-engine/src/tests/rules/parsing/objects-parsing.vsl
  vsmtp-rule-engine/src/tests/rules/rcpt/main.vsl
  vsmtp-rule-engine/src/tests/types/address/main.vsl
  vsmtp-rule-engine/src/tests/types/objects/vars.vsl
Labels: A-vsl

#214 Fuzz for CI
  .github/workflows/fuzzer.yaml
  fuzz/Cargo.toml
  fuzz/fuzz_targets/receiver.rs
Labels: A-ci

#216 test: create vsmtp-test in workspace
  .github/workflows/fuzzer.yaml
  Cargo.lock
  Cargo.toml
  fuzz/Cargo.toml
  fuzz/dict/receiver.dict
  fuzz/fuzz_targets/receiver.rs
  vsmtp-config/src/lib.rs
  vsmtp-rule-engine/src/tests/engine/mod.rs
  vsmtp-rule-engine/src/tests/mod.rs
  vsmtp-server/Cargo.toml
  vsmtp-server/benches/receiver.rs
  vsmtp-server/src/auth.rs
  vsmtp-server/src/channel_message.rs
  vsmtp-server/src/lib.rs
  vsmtp-server/src/processes/delivery.rs
  vsmtp-server/src/processes/mime.rs
  vsmtp-server/src/processes/mod.rs
  vsmtp-server/src/queue.rs
  vsmtp-server/src/receiver/auth_exchange.rs
  vsmtp-server/src/receiver/mod.rs
  vsmtp-server/src/receiver/tests/main.vsl
  vsmtp-server/src/server.rs
  vsmtp-server/src/tests/empty_main.vsl
  vsmtp-server/src/tests/start_server.rs
  vsmtp-server/tests/stress/listen_and_serve.rs
  vsmtp-test/Cargo.toml
  vsmtp-test/src/config.rs
  vsmtp-test/src/empty_main.vsl
  vsmtp-test/src/lib.rs
  vsmtp-test/src/receiver.rs
  vsmtp-test/src/tests/auth/all_mechanism.rs
  vsmtp-test/src/tests/auth/basic.rs
  vsmtp-test/src/tests/auth/mod.rs
  vsmtp-test/src/tests/auth/send_to_server.rs
  vsmtp-test/src/tests/certs/README.txt
  vsmtp-test/src/tests/certs/certificate.crt
  vsmtp-test/src/tests/certs/privateKey.key
  vsmtp-test/src/tests/certs/sni/second.certificate.crt
  vsmtp-test/src/tests/certs/sni/second.privateKey.key
  vsmtp-test/src/tests/clair.rs
  vsmtp-test/src/tests/mail/ar.txt
  vsmtp-test/src/tests/mail/el.txt
  vsmtp-test/src/tests/mail/ko.txt
  vsmtp-test/src/tests/mail/zh.txt
  vsmtp-test/src/tests/mod.rs
  vsmtp-test/src/tests/rset.rs
  vsmtp-test/src/tests/starttls.rs
  vsmtp-test/src/tests/tls_tunneled.rs
  vsmtp-test/src/tests/utf8.rs
Labels: P-medium, A-ci

#217 test: add test case auth & tls + fix: log format & appdir
  examples/config/logging.toml
  vsmtp-config/src/default.rs
  vsmtp-config/src/tests/mod.rs
  vsmtp-config/src/tests/root_example/logging.rs
  vsmtp-test/src/tests/mod.rs
  vsmtp-test/src/tests/tls/mod.rs
  vsmtp-test/src/tests/tls/starttls.rs
  vsmtp-test/src/tests/tls/tunneled.rs
  vsmtp-test/src/tests/tls/tunneled_with_auth.rs
  vsmtp-test/src/tests/tls_tunneled.rs
Labels: C-enhancement, P-medium

#219 test: add test for start_runtime
  vsmtp-common/src/envelop.rs
  vsmtp-common/src/mail.rs
  vsmtp-common/src/mail_context.rs
  vsmtp-common/src/mime_type.rs
  vsmtp-common/src/rcpt.rs
  vsmtp-common/src/transfer.rs
  vsmtp-rule-engine/src/tests/engine/mod.rs
  vsmtp-rule-engine/src/tests/mod.rs
  vsmtp-server/src/channel_message.rs
  vsmtp-server/src/lib.rs
  vsmtp-server/src/processes/delivery.rs
  vsmtp-server/src/processes/delivery/deferred.rs
  vsmtp-server/src/processes/delivery/deliver.rs
  vsmtp-server/src/processes/mime.rs
  vsmtp-server/src/processes/mod.rs
  vsmtp-server/src/queue.rs
  vsmtp-server/src/runtime.rs
  vsmtp-test/src/config.rs
  vsmtp-test/src/tests/auth/mod.rs
  vsmtp-test/src/tests/empty_main.vsl
  vsmtp-test/src/tests/tls/mod.rs
  vsmtp-test/src/tests/tls/tunneled_with_auth.rs
Labels: C-enhancement, P-high, A-delivery

#220 Test deliver queue
  vsmtp-server/src/processes/delivery.rs
  vsmtp-server/src/processes/delivery/deliver.rs
  vsmtp-server/src/runtime.rs
Labels: C-enhancement, P-medium, A-delivery

#221 tweak: daemon not double fork
  .vscode/settings.json
  Cargo.lock
  examples/config/secured.toml
  examples/install/os-dep/linux-vsmtp.service
  vsmtp-common/Cargo.toml
  vsmtp-common/src/lib.rs
  vsmtp-common/src/libc_abstraction.rs
  vsmtp-config/Cargo.toml
  vsmtp-config/src/parser/semver.rs
  vsmtp-config/src/parser/socket_addr.rs
  vsmtp-config/src/parser/syst_group.rs
  vsmtp-config/src/parser/syst_user.rs
  vsmtp-config/src/parser/tls_cipher_suite.rs
  vsmtp-delivery/Cargo.toml
  vsmtp-mail-parser/Cargo.toml
  vsmtp-rule-engine/Cargo.toml
  vsmtp-rule-engine/src/modules/actions.rs
  vsmtp-rule-engine/src/modules/types.rs
  vsmtp-rule-engine/src/tests/actions/mod.rs
  vsmtp-server/Cargo.toml
  vsmtp-server/src/processes/delivery.rs
  vsmtp-server/src/queue.rs
  vsmtp-server/tests/stress/listen_and_serve.rs
  vsmtp-server/tests/stress/send_payload.rs
  vsmtp-test/Cargo.toml
  vsmtp/Cargo.toml
  vsmtp/src/main.rs
Labels: C-enhancement, P-high

#223 fix: improve runtime error handling & message on error
  vsmtp-server/src/runtime.rs
  vsmtp/src/main.rs
Labels: C-enhancement, P-high

#227 Rule engine from script
  vsmtp-rule-engine/src/rule_engine.rs
Labels: A-test

#231 Get & Set headers
  .vscode/settings.json
  vsmtp-common/src/mail.rs
  vsmtp-common/src/mail_context.rs
  vsmtp-mail-parser/src/tests/mime_parser/methods.rs
  vsmtp-mail-parser/src/tests/mod.rs
  vsmtp-rule-engine/src/modules/actions.rs
  vsmtp-rule-engine/src/tests/email/add_header/add_header.vsl
  vsmtp-rule-engine/src/tests/email/add_header/main.vsl
  vsmtp-rule-engine/src/tests/email/mod.rs
  vsmtp-rule-engine/src/tests/email/mutate_header/main.vsl
  vsmtp-rule-engine/src/tests/mod.rs
Labels: C-enhancement, A-rule-engine, A-mime

#237 CI improvement
  .github/dependabot.yml
  .github/workflows/ci.yaml
  .github/workflows/fuzzer.yaml
Labels: P-medium, A-ci

#243 test: fix test of delivery failing sometimes
  .vscode/settings.json
  vsmtp-common/src/mail_context.rs
  vsmtp-rule-engine/src/rule_engine.rs
  vsmtp-server/src/processes/delivery.rs
  vsmtp-server/src/processes/delivery/deliver.rs
  vsmtp-server/src/processes/mime.rs
Labels: C-bug, P-critical, A-test

#236 Logs: rolling files
  Cargo.lock
  examples/config/logging.toml
  vsmtp-common/Cargo.toml
  vsmtp-config/Cargo.toml
  vsmtp-config/src/builder/validate.rs
  vsmtp-config/src/builder/wants.rs
  vsmtp-config/src/builder/with.rs
  vsmtp-config/src/config.rs
  vsmtp-config/src/default.rs
  vsmtp-config/src/log4rs_helper.rs
  vsmtp-config/src/tests/mod.rs
  vsmtp-config/src/tests/root_example/logging.rs
  vsmtp-rule-engine/Cargo.toml
  vsmtp-server/Cargo.toml
  vsmtp-server/tests/stress/listen_and_serve.rs
Labels: C-enhancement, P-high, A-config, A-security

#245 More test
  vqueue/src/command.rs
  vqueue/src/command/mod.rs
  vqueue/src/command/msg_command/move.rs
  vqueue/src/command/msg_command/remove.rs
  vqueue/src/command/msg_command/show.rs
  vqueue/src/command/queue_show.rs
  vqueue/src/lib.rs
  vqueue/src/main.rs
  vqueue/src/model.rs
  vsmtp-common/src/lib.rs
  vsmtp-common/src/mail_context.rs
  vsmtp-common/src/queue.rs
  vsmtp-common/src/trait/mail_parser.rs
  vsmtp-mail-parser/src/parser.rs
  vsmtp-mail-parser/src/tests/mime_parser/allen_p__discussion_threads__1.rs
  vsmtp-mail-parser/src/tests/mime_parser/methods.rs
  vsmtp-mail-parser/src/tests/mime_parser/mime1.rs
  vsmtp-mail-parser/src/tests/mime_parser/rfc2049/a.rs
  vsmtp-mail-parser/src/tests/mime_parser/rfc5322/a_1_1.rs
  vsmtp-mail-parser/src/tests/mime_parser/rfc5322/a_1_2.rs
  vsmtp-mail-parser/src/tests/mime_parser/rfc5322/a_1_3.rs
  vsmtp-mail-parser/src/tests/mime_parser/rfc5322/a_2.rs
  vsmtp-mail-parser/src/tests/mime_parser/rfc5322/a_3.rs
  vsmtp-mail-parser/src/tests/mime_parser/rfc5322/a_4.rs
  vsmtp-mail-parser/src/tests/mime_parser/rfc5322/a_5.rs
  vsmtp-mail-parser/src/tests/mod.rs
  vsmtp-rule-engine/src/tests/rules.rs
  vsmtp-server/src/processes/mime.rs
  vsmtp-test/src/tests/auth/all_mechanism.rs
  vsmtp-test/src/tests/auth/send_to_server.rs
  vsmtp-test/src/tests/clair.rs
  vsmtp-test/src/tests/rset.rs
  vsmtp-test/src/tests/utf8.rs
Labels: C-enhancement, P-medium, A-test, A-queue

#252 Fix: test for tls key/certificate
  Cargo.lock
  vsmtp-common/Cargo.toml
  vsmtp-common/src/lib.rs
  vsmtp-config/Cargo.toml
  vsmtp-config/src/config.rs
  vsmtp-config/src/parser/tls_certificate.rs
  vsmtp-config/src/parser/tls_private_key.rs
  vsmtp-server/Cargo.toml
  vsmtp-server/src/lib.rs
  vsmtp-server/src/receiver/auth_exchange.rs
  vsmtp-test/src/get_tls_file.rs
  vsmtp-test/src/lib.rs
  vsmtp-test/src/template/certs/README.txt
  vsmtp-test/src/template/certs/certificate.crt
  vsmtp-test/src/template/certs/private_key.ec256.key
  vsmtp-test/src/template/certs/private_key.pkcs8.key
  vsmtp-test/src/template/certs/private_key.rsa.key
  vsmtp-test/src/template/certs/sni/second.certificate.crt
  vsmtp-test/src/template/certs/sni/second.private_key.rsa.key
  vsmtp-test/src/tests/auth/all_mechanism.rs
  vsmtp-test/src/tests/auth/basic.rs
  vsmtp-test/src/tests/tls/mod.rs
  vsmtp-test/src/tests/tls/tunneled.rs
  vsmtp-test/src/tests/tls/tunneled_with_auth.rs
Labels: P-medium, A-test

#257 Update queues initialization
  vqueue/src/command/mod.rs
  vqueue/src/command/msg_command/move.rs
  vqueue/src/command/msg_command/remove.rs
  vqueue/src/command/queue_show.rs
  vqueue/src/model.rs
  vsmtp-common/src/queue.rs
  vsmtp-config/src/parser/tls_certificate.rs
  vsmtp-config/src/parser/tls_private_key.rs
  vsmtp-server/src/processes/delivery.rs
  vsmtp-server/src/processes/delivery/deferred.rs
  vsmtp-server/src/processes/delivery/deliver.rs
  vsmtp-server/src/processes/mime.rs
  vsmtp-server/src/runtime.rs
Labels: C-bug, C-enhancement, P-high, A-queue

#259 Test for tls cipher suites
  .github/workflows/ci.yaml
  .vscode/settings.json
  fuzz/fuzz_targets/mime_parser.rs
  fuzz/fuzz_targets/receiver.rs
  vsmtp-config/src/config.rs
  vsmtp-config/src/log4rs_helper.rs
  vsmtp-config/src/rustls_helper.rs
  vsmtp-server/src/receiver/auth_exchange.rs
  vsmtp-test/src/tests/tls/cipher_suite.rs
  vsmtp-test/src/tests/tls/mod.rs
  vsmtp-test/src/tests/tls/tunneled.rs
  vsmtp-test/src/tests/tls/tunneled_with_auth.rs
Labels: A-protocol, A-test

#263 Integration of Auth in vSMTP config
  .github/actions-rs/grcov.yml
  .vscode/settings.json
  examples/config/antivirus.toml
  examples/config/auth.toml
  examples/config/auth/main.vsl
  vqueue/src/command/msg_command/show.rs
  vqueue/src/command/queue_show.rs
  vsmtp-common/src/mail_context.rs
  vsmtp-common/src/state.rs
  vsmtp-common/src/status.rs
  vsmtp-config/src/tests/root_example/antivirus.rs
  vsmtp-delivery/src/lib.rs
  vsmtp-rule-engine/src/modules/actions.rs
  vsmtp-rule-engine/src/modules/mail_context.rs
  vsmtp-rule-engine/src/modules/types.rs
  vsmtp-rule-engine/src/rule_engine.rs
  vsmtp-rule-engine/src/service.rs
  vsmtp-rule-engine/src/tests/engine/mod.rs
  vsmtp-server/src/auth.rs
  vsmtp-server/src/lib.rs
  vsmtp-server/src/processes/delivery.rs
  vsmtp-server/src/processes/delivery/deferred.rs
  vsmtp-server/src/processes/delivery/deliver.rs
  vsmtp-server/src/processes/postq.rs
  vsmtp-server/src/receiver/auth_exchange.rs
  vsmtp-server/src/receiver/mod.rs
  vsmtp-server/src/receiver/transaction.rs
  vsmtp-server/src/server.rs
  vsmtp-server/src/tests/auth_ignored_test.rs
  vsmtp-server/src/tests/mod.rs
  vsmtp-server/tests/mod.rs
  vsmtp-server/tests/stress/listen_and_serve_ignored_test.rs
  vsmtp-server/tests/stress/send_payload_ignored_test.rs
  vsmtp-test/src/tests/auth.vsl
  vsmtp-test/src/tests/auth/all_mechanism.rs
  vsmtp-test/src/tests/auth/basic.rs
  vsmtp-test/src/tests/auth/mod.rs
  vsmtp-test/src/tests/auth/send_to_server.rs
  vsmtp-test/src/tests/tls/tunneled_with_auth.rs
Labels: C-enhancement, A-rule-engine, P-critical, A-vsl, A-config

#267 Receiver side of the server `async` and improve message safety
  Cargo.lock
  vsmtp-server/Cargo.toml
  vsmtp-server/benches/receiver.rs
  vsmtp-server/src/lib.rs
  vsmtp-server/src/receiver/auth_exchange.rs
  vsmtp-server/src/receiver/connection.rs
  vsmtp-server/src/receiver/io.rs
  vsmtp-server/src/receiver/io_service.rs
  vsmtp-server/src/receiver/mod.rs
  vsmtp-server/src/receiver/transaction.rs
  vsmtp-server/src/runtime.rs
  vsmtp-server/src/server.rs
  vsmtp-test/Cargo.toml
  vsmtp-test/src/receiver.rs
  vsmtp-test/src/tests/auth/all_mechanism.rs
  vsmtp-test/src/tests/auth/basic.rs
  vsmtp-test/src/tests/clair.rs
  vsmtp-test/src/tests/mail/ar.txt
  vsmtp-test/src/tests/mail/el.txt
  vsmtp-test/src/tests/mail/ko.txt
  vsmtp-test/src/tests/mail/zh.txt
  vsmtp-test/src/tests/rset.rs
  vsmtp-test/src/tests/tls/cipher_suite.rs
  vsmtp-test/src/tests/tls/mod.rs
  vsmtp-test/src/tests/tls/tunneled_with_auth.rs
  vsmtp-test/src/tests/utf8.rs
Labels: C-enhancement, P-high, A-protocol, A-test, A-dependencies
