Repository viridIT/vSMTP, pull requests merged in 2022-03, with the labels that each got.

#159 Write & Dump
  src/mime/mail.rs
  src/mime/parser.rs
  src/mime/tests/mime_parser/mime1.rs
  src/rules/modules/email.rs
  src/rules/rule_engine.rs
  src/rules/tests/email/dump/main.vsl
  src/rules/tests/email/mod.rs
  src/rules/tests/email/write/main.vsl
Labels: A-mime, A-vsl

#163 Examples & Documentation
  ROADMAP.md
  config/certs/.gitignore
  config/vsmtp.toml
  examples/antivirus/main.vsl
  examples/antivirus/service/clamscan.sh
  examples/antivirus/vsmtp.toml
  examples/complete.toml
  examples/install/main.vsl
  examples/install/os-dep/freebsd-vsmtp.service
  examples/install/os-dep/linux-vsmtp.service
  examples/install/vsmtp.toml
Labels: C-documentation

#164 Crate level doc
  .vscode/settings.json
  benches/receiver.rs
  fuzz/Cargo.toml
  fuzz/fuzz_targets/mime_parser.rs
  fuzz/fuzz_targets/receiver.rs
  src/config/config_builder.rs
  src/config/default.rs
  src/config/mod.rs
  src/config/server_config.rs
  src/config/service.rs
  src/config/tests/mod.rs
  src/lib.rs
  src/main.rs
  src/mime/helpers.rs
  src/mime/mail.rs
  src/mime/mime_type.rs
  src/mime/mod.rs
  src/mime/parser.rs
  src/my_libc.rs
  src/queue.rs
  src/receiver/mod.rs
  src/receiver/test_helpers.rs
  src/resolver/maildir_resolver.rs
  src/resolver/mbox_resolver.rs
  src/resolver/mod.rs
  src/resolver/smtp_resolver.rs
  src/rules/address.rs
  src/rules/mod.rs
  src/rules/modules/actions.rs
  src/rules/modules/types.rs
  src/rules/rule_engine.rs
  src/rules/tests/types/mod.rs
  src/server.rs
  src/smtp/mail.rs
  tests/stress.rs
Labels: C-documentation

#165 feat: add client count max
  config/vsmtp.dev-local.toml
  src/config/config_builder.rs
  src/config/default.rs
  src/config/server_config.rs
  src/config/tests/mod.rs
  src/server.rs
  src/smtp/code.rs
Labels: P-high, A-protocol, A-config, A-security

#171 Config: rule engine entry point optional
  Cargo.toml
  TESTING.md
  examples/config/complete.toml
  examples/config/services.toml
  examples/config/simple.toml
  examples/config/smtps.toml
  src/config/config_builder.rs
  src/config/default.rs
  src/config/serializer.rs
  src/config/server_config.rs
  src/config/tests/mod.rs
  src/receiver/test_helpers.rs
  src/receiver/tests/clair.rs
  src/receiver/tests/rset.rs
  src/receiver/tests/starttls.rs
  src/receiver/tests/tls_tunneled.rs
  src/receiver/tests/utf8.rs
  src/rules/rule_engine.rs
  src/rules/tests/actions/mod.rs
  src/rules/tests/email/mod.rs
  src/rules/tests/engine/mod.rs
  src/rules/tests/mod.rs
  src/rules/tests/rules/mod.rs
  src/rules/tests/types/mod.rs
  src/server.rs
  src/smtp/state.rs
Labels: enhancement, A-rule engine, tests, P-medium, A-config

#162 Mail raw api
  src/mime/mail.rs
  src/mime/mime_type.rs
  src/mime/parser.rs
  src/receiver/tests/utf8.rs
  src/resolver/maildir_resolver.rs
  src/resolver/mbox_resolver.rs
  src/resolver/smtp_resolver.rs
  src/rules/modules/email.rs
Labels: C-architecture, A-mime

#172 Feat/no daemon
  .vscode/settings.json
  config/vsmtp.dev-local.toml
  src/config/mod.rs
  src/lib.rs
  src/libc_abstraction.rs
  src/main.rs
  src/receiver/test_helpers.rs
  src/resolver/maildir_resolver.rs
  src/resolver/mbox_resolver.rs
  tests/stress.rs
Labels: enhancement, P-high

#175 VScode config
  .vscode/launch.json
Labels: enhancement

#166 Stress test improved
  Cargo.toml
  benches/receiver.rs
  fuzz/fuzz_targets/receiver.rs
  src/config/config_builder.rs
  src/config/default.rs
  src/config/server_config.rs
  src/config/tests/mod.rs
  src/main.rs
  src/processes/delivery.rs
  src/receiver/mod.rs
  src/receiver/test_helpers.rs
  src/receiver/tests/clair.rs
  src/receiver/tests/rset.rs
  src/receiver/tests/starttls.rs
  src/receiver/tests/tls_tunneled.rs
  src/receiver/tests/utf8.rs
  src/rules/tests/mod.rs
  src/rules/tests/types/mod.rs
  src/server.rs
  tests/mod.rs
  tests/stress.rs
  tests/stress/listen_and_serve.rs
  tests/stress/mod.rs
  tests/stress/send_payload.rs
  tests/stress/send_payload_config.json
  tests/stress/trace.json
  tests/stress/trace.png
Labels: tests, A-security

#176 Removing Chrono
  Cargo.toml
  src/resolver/mbox_resolver.rs
  src/rules/modules/actions.rs
  src/rules/rule_engine.rs
Labels: A-delivery, A-security

#180 Remove 'export'
  vsmtp-rule-engine/Cargo.toml
  vsmtp-rule-engine/src/rule_engine.rs
Labels: A-vsl

#181 Feat/ipv6 scope id parse
  .vscode/settings.json
  examples/config/complete.toml
  examples/config/next.toml
  examples/config/smtps.toml
  vsmtp-common/src/libc_abstraction.rs
  vsmtp-config/Cargo.toml
  vsmtp-config/src/config_builder.rs
  vsmtp-config/src/default.rs
  vsmtp-config/src/lib.rs
  vsmtp-config/src/serializer.rs
  vsmtp-config/src/server_config.rs
  vsmtp-config/src/tests/mod.rs
  vsmtp-config/src/tests/socket_addr.rs
  vsmtp-config/src/tests/tls_protocol_version.rs
  vsmtp-rule-engine/src/rule_engine.rs
  vsmtp-rule-engine/src/server_api.rs
  vsmtp-rule-engine/src/tests/mod.rs
  vsmtp-rule-engine/src/tests/types/mod.rs
  vsmtp-server/benches/receiver.rs
  vsmtp-server/src/processes/delivery.rs
  vsmtp-server/src/processes/mime.rs
  vsmtp-server/src/queue.rs
  vsmtp-server/src/receiver/connection.rs
  vsmtp-server/src/receiver/mod.rs
  vsmtp-server/src/receiver/test_helpers.rs
  vsmtp-server/src/receiver/tests/clair.rs
  vsmtp-server/src/receiver/tests/rset.rs
  vsmtp-server/src/receiver/tests/starttls.rs
  vsmtp-server/src/receiver/tests/tls_tunneled.rs
  vsmtp-server/src/receiver/tests/utf8.rs
  vsmtp-server/src/receiver/transaction.rs
  vsmtp-server/src/resolver.rs
  vsmtp-server/src/server.rs
  vsmtp-server/src/tls_helpers.rs
  vsmtp/src/main.rs
  vsmtp/src/resolver/maildir_resolver.rs
  vsmtp/src/resolver/mbox_resolver.rs
  vsmtp/src/resolver/smtp_resolver.rs
  vsmtp/tests/stress/listen_and_serve.rs
Labels: C-enhancement, P-medium, A-config

#182 test: add mail example from rfc2049
  vsmtp-mail-parser/Cargo.toml
  vsmtp-mail-parser/src/error.rs
  vsmtp-mail-parser/src/tests/mail/rfc2049/A.eml
  vsmtp-mail-parser/src/tests/mime_parser/rfc2049/a.rs
  vsmtp-mail-parser/src/tests/mime_parser/rfc2049/mod.rs
  vsmtp-mail-parser/src/tests/mod.rs
Labels: C-enhancement, P-high, A-mime

#184 Multi Runtime & fixes
  vsmtp-common/src/libc_abstraction.rs
  vsmtp-server/Cargo.toml
  vsmtp-server/src/lib.rs
  vsmtp-server/src/processes/delivery.rs
  vsmtp-server/src/processes/mime.rs
  vsmtp-server/src/receiver/connection.rs
  vsmtp-server/src/receiver/io_service.rs
  vsmtp-server/src/receiver/mod.rs
  vsmtp-server/src/receiver/test_helpers.rs
  vsmtp-server/src/receiver/tests/starttls.rs
  vsmtp-server/src/receiver/tests/tls_tunneled.rs
  vsmtp-server/src/receiver/transaction.rs
  vsmtp-server/src/resolver.rs
  vsmtp-server/src/resolver/maildir_resolver.rs
  vsmtp-server/src/resolver/mbox_resolver.rs
  vsmtp-server/src/resolver/smtp_resolver.rs
  vsmtp-server/src/server.rs
  vsmtp-server/tests/mod.rs
  vsmtp-server/tests/stress/listen_and_serve.rs
  vsmtp-server/tests/stress/main.vsl
  vsmtp-server/tests/stress/send_payload.rs
  vsmtp-server/tests/stress/send_payload_config.json
  vsmtp-server/tests/stress/trace.json
  vsmtp-server/tests/stress/trace.png
  vsmtp/Cargo.toml
  vsmtp/src/args.rs
  vsmtp/src/lib.rs
  vsmtp/src/main.rs
Labels: C-enhancement, C-architecture, P-high, A-delivery, A-mime

#185 fix: version requirement for tls
  vsmtp-config/src/parser.rs
  vsmtp-config/src/tests/tls_protocol_version.rs
  vsmtp-server/src/receiver/mod.rs
  vsmtp-server/src/tls_helpers.rs
Labels: C-enhancement, P-critical, A-protocol, A-config

#190 Default config for vSMTP args
  vsmtp-common/src/code.rs
  vsmtp-common/src/state.rs
  vsmtp-config/src/parser/semver.rs
  vsmtp-config/src/parser/socket_addr.rs
  vsmtp/src/args.rs
  vsmtp/src/main.rs
Labels: C-enhancement, P-medium

#192 fix: support .. syntax for line starting with . in mail body
  vsmtp-common/src/event.rs
  vsmtp-common/src/lib.rs
  vsmtp-common/src/mail.rs
  vsmtp-common/src/tests/event.rs
  vsmtp-server/src/receiver/tests/mail/ar.txt
Labels: C-enhancement, P-high, A-protocol

#194 refact<rule-engine>: run when take enum instead of str
  vsmtp-common/src/state.rs
  vsmtp-rule-engine/src/rule_engine.rs
  vsmtp-rule-engine/src/tests/actions/mod.rs
  vsmtp-rule-engine/src/tests/email/mod.rs
  vsmtp-rule-engine/src/tests/engine/mod.rs
  vsmtp-rule-engine/src/tests/rules/mod.rs
  vsmtp-rule-engine/src/tests/types/mod.rs
  vsmtp-server/src/processes/delivery.rs
  vsmtp-server/src/processes/mime.rs
  vsmtp-server/src/receiver/transaction.rs
Labels: C-enhancement, A-rule-engine, P-medium

#196 Test/more cov
  .github/workflows/ci.yaml
  .gitignore
  .vscode/settings.json
  Cargo.lock
  fuzz/.gitignore
  vsmtp-common/src/address.rs
  vsmtp-common/src/lib.rs
  vsmtp-common/src/libc_abstraction.rs
  vsmtp-common/src/mime_type.rs
  vsmtp-common/src/state.rs
  vsmtp-common/src/status.rs
  vsmtp-common/src/tests/event.rs
  vsmtp-common/src/tests/libc_abstraction.rs
  vsmtp-config/src/parser/socket_addr.rs
  vsmtp-config/src/parser/tls_protocol_version.rs
  vsmtp-server/src/resolver/maildir_resolver.rs
  vsmtp-server/src/resolver/mbox_resolver.rs
Labels: C-documentation, P-medium, A-ci

#199 CICD test fix
  .github/workflows/ci.yaml
Labels: A-ci

#197 Authentication (SASL) rfc 4954 #1
  .github/workflows/ci.yaml
  .vscode/settings.json
  Cargo.lock
  fuzz/dict/server_config.dict
  fuzz/fuzz_targets/receiver.rs
  vsmtp-common/Cargo.toml
  vsmtp-common/src/code.rs
  vsmtp-common/src/event.rs
  vsmtp-common/src/lib.rs
  vsmtp-common/src/mechanism.rs
  vsmtp-common/src/state.rs
  vsmtp-common/src/tests/event.rs
  vsmtp-config/Cargo.toml
  vsmtp-config/src/builder/validate.rs
  vsmtp-config/src/builder/with.rs
  vsmtp-config/src/config.rs
  vsmtp-config/src/default.rs
  vsmtp-config/src/lib.rs
  vsmtp-config/src/log4rs_helper.rs
  vsmtp-config/src/parser/socket_addr.rs
  vsmtp-config/src/parser/tls_certificate.rs
  vsmtp-config/src/parser/tls_private_key.rs
  vsmtp-config/src/parser/tls_protocol_version.rs
  vsmtp-config/src/rustls_helper.rs
  vsmtp-config/src/tests/mod.rs
  vsmtp-rule-engine/src/rule_engine.rs
  vsmtp-server/Cargo.toml
  vsmtp-server/benches/receiver.rs
  vsmtp-server/src/auth.rs
  vsmtp-server/src/lib.rs
  vsmtp-server/src/receiver/auth.rs
  vsmtp-server/src/receiver/connection.rs
  vsmtp-server/src/receiver/mod.rs
  vsmtp-server/src/receiver/test_helpers.rs
  vsmtp-server/src/receiver/tests/auth/all_mechanism.rs
  vsmtp-server/src/receiver/tests/auth/basic.rs
  vsmtp-server/src/receiver/tests/auth/mod.rs
  vsmtp-server/src/receiver/tests/auth/send_to_server.rs
  vsmtp-server/src/receiver/tests/clair.rs
  vsmtp-server/src/receiver/tests/mod.rs
  vsmtp-server/src/receiver/tests/rset.rs
  vsmtp-server/src/receiver/tests/starttls.rs
  vsmtp-server/src/receiver/tests/tls_tunneled.rs
  vsmtp-server/src/receiver/tests/utf8.rs
  vsmtp-server/src/receiver/transaction.rs
  vsmtp-server/src/server.rs
  vsmtp/Cargo.toml
  vsmtp/src/lib.rs
  vsmtp/src/main.rs
Labels: C-enhancement, P-high, A-protocol, A-security, A-ci

#204 feat: add auth in builder
  CODE_OF_CONDUCT.md
  README.md
  vsmtp-config/Cargo.toml
  vsmtp-config/src/builder/validate.rs
  vsmtp-config/src/builder/wants.rs
  vsmtp-config/src/builder/with.rs
  vsmtp-config/src/default.rs
  vsmtp-config/src/tests/mod.rs
  vsmtp-config/src/tests/root_example/antivirus.rs
  vsmtp-config/src/tests/root_example/logging.rs
  vsmtp-config/src/tests/root_example/secured.rs
  vsmtp-config/src/tests/root_example/simple.rs
  vsmtp-config/src/tests/root_example/tls.rs
  vsmtp-config/src/tests/validate.rs
  vsmtp-rule-engine/src/tests/engine/mod.rs
  vsmtp-rule-engine/src/tests/mod.rs
  vsmtp-rule-engine/src/tests/types/mod.rs
  vsmtp-server/benches/receiver.rs
  vsmtp-server/src/receiver/test_helpers.rs
  vsmtp-server/src/receiver/tests/mod.rs
  vsmtp-server/src/receiver/tests/starttls.rs
  vsmtp-server/tests/stress/listen_and_serve.rs
Labels: C-enhancement, P-medium, A-config

#205 fix STARTTLS under already tls connection
  vsmtp-common/src/code.rs
  vsmtp-config/src/default.rs
  vsmtp-server/src/receiver/mod.rs
  vsmtp-server/src/receiver/tests/clair.rs
  vsmtp-server/src/receiver/tests/starttls.rs
  vsmtp-server/src/receiver/tests/tls_tunneled.rs
  vsmtp-server/src/receiver/transaction.rs
Labels: C-enhancement, P-high, A-protocol

#203 Quarantine Restriction
  vsmtp-rule-engine/src/modules/actions.rs
  vsmtp-rule-engine/src/rule_engine.rs
  vsmtp-rule-engine/src/server_api.rs
  vsmtp-rule-engine/src/tests/actions/dump/main.vsl
  vsmtp-rule-engine/src/tests/actions/mod.rs
  vsmtp-rule-engine/src/tests/actions/quarantine/main.vsl
  vsmtp-rule-engine/src/tests/actions/write/main.vsl
  vsmtp-rule-engine/src/tests/email/dump/main.vsl
  vsmtp-rule-engine/src/tests/email/mod.rs
  vsmtp-rule-engine/src/tests/mod.rs
Labels: A-rule-engine
