Repository viridIT/vSMTP, pull requests merged in 2022-05, with the labels that each got.

#277 Troubleshooting the listener
  vsmtp-common/src/address.rs
  vsmtp-common/src/event.rs
  vsmtp-common/src/lib.rs
  vsmtp-common/src/tests/event.rs
  vsmtp-server/src/receiver/connection.rs
  vsmtp-server/src/receiver/io.rs
  vsmtp-server/src/receiver/transaction.rs
  vsmtp-server/src/runtime.rs
  vsmtp-server/src/server.rs
  vsmtp-test/src/tests/auth/all_mechanism.rs
  vsmtp-test/src/tests/auth/basic.rs
  vsmtp-test/src/tests/tls/tunneled.rs
  vsmtp-test/src/tests/utf8.rs
  vsmtp/src/main.rs
Labels: C-enhancement, P-critical, A-protocol

#284 Shorten address construction in tests
  examples/config/README.md
  vqueue/src/command/msg_command/show.rs
  vqueue/src/command/queue_show.rs
  vsmtp-common/src/envelop.rs
  vsmtp-common/src/event.rs
  vsmtp-common/src/lib.rs
  vsmtp-common/src/mail.rs
  vsmtp-common/src/mime_type.rs
  vsmtp-common/src/rcpt.rs
  vsmtp-common/src/type/address.rs
  vsmtp-delivery/src/lib.rs
  vsmtp-delivery/src/transport/deliver.rs
  vsmtp-delivery/src/transport/forward.rs
  vsmtp-delivery/src/transport/maildir.rs
  vsmtp-delivery/src/transport/mbox.rs
  vsmtp-rule-engine/src/api/utils.rhai
  vsmtp-rule-engine/src/modules/actions/bcc.rs
  vsmtp-rule-engine/src/modules/actions/headers.rs
  vsmtp-rule-engine/src/modules/actions/transports.rs
  vsmtp-rule-engine/src/modules/mail_context.rs
  vsmtp-rule-engine/src/modules/types.rs
  vsmtp-rule-engine/src/obj.rs
  vsmtp-rule-engine/src/rule_engine.rs
  vsmtp-rule-engine/src/tests/actions.rs
  vsmtp-rule-engine/src/tests/email/mod.rs
  vsmtp-rule-engine/src/tests/engine/mod.rs
  vsmtp-rule-engine/src/tests/rules.rs
  vsmtp-rule-engine/src/tests/types/mod.rs
  vsmtp-server/benches/receiver.rs
  vsmtp-server/src/processes/delivery.rs
  vsmtp-server/src/processes/delivery/deferred.rs
  vsmtp-server/src/processes/delivery/deliver.rs
  vsmtp-server/src/processes/postq.rs
  vsmtp-server/src/receiver/transaction.rs
  vsmtp-test/src/tests/auth/basic.rs
  vsmtp-test/src/tests/clair.rs
  vsmtp-test/src/tests/rset.rs
  vsmtp-test/src/tests/utf8.rs
Labels: C-enhancement, P-medium, A-test

#286 Fix vqueue on parse error & add test
  vqueue/src/command/mod.rs
  vqueue/src/command/queue_show.rs
  vqueue/src/main.rs
  vqueue/src/model.rs
Labels: C-enhancement, P-medium, A-queue

#285 Message folding
  .github/workflows/ci.yaml
  .github/workflows/fuzzer.yaml
  examples/vsl/actions/forward_all.vsl
  examples/vsl/rules/objects-parsing.vsl
  vsmtp-common/src/rcpt.rs
  vsmtp-common/src/state.rs
  vsmtp-config/src/builder/validate.rs
  vsmtp-config/src/default.rs
  vsmtp-config/src/tests/validate.rs
  vsmtp-server/src/receiver/connection.rs
  vsmtp-server/src/receiver/mod.rs
  vsmtp-test/src/tests/clair.rs
Labels: C-enhancement, P-high, A-protocol

#291 Add a flag '--timeout' on vsmtp
  vsmtp-config/src/lib.rs
  vsmtp-server/src/lib.rs
  vsmtp-server/src/runtime.rs
  vsmtp-server/src/server.rs
  vsmtp-server/tests/stress/listen_and_serve_ignored_test.rs
  vsmtp/src/args.rs
  vsmtp/src/main.rs
Labels: C-enhancement, P-high, A-test

#298 Update CI fuzz
  .github/workflows/ci.yaml
  .github/workflows/fuzzer.yaml
  fuzz/Cargo.toml
  fuzz/fuzz_targets/mime_parser.rs
  fuzz/fuzz_targets/receiver.rs
  fuzz/fuzz_targets/rules.rs
Labels: C-enhancement, P-high, A-ci, A-test

#292 Improve the stress / benchmark suites
  .gitignore
  .vscode/settings.json
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  TESTING.md
  benchmarks/README.md
  benchmarks/stress/Cargo.toml
  benchmarks/stress/main.vsl
  benchmarks/stress/src/main.rs
  benchmarks/stress/vsmtp.stress.toml
  examples/config/secured.toml
  tools/instructions.sh
  vsmtp-delivery/Cargo.toml
  vsmtp-rule-engine/Cargo.toml
  vsmtp-server/Cargo.toml
  vsmtp-server/tests/mod.rs
  vsmtp-server/tests/stress/listen_and_serve_ignored_test.rs
  vsmtp-server/tests/stress/send_payload_config.json
  vsmtp-server/tests/stress/send_payload_ignored_test.rs
  vsmtp-server/tests/stress/trace.json
  vsmtp-server/tests/stress/trace.png
  vsmtp-test/src/tests/auth.vsl
Labels: C-documentation, P-high, A-test

#296 Add `cargo deny`
  .github/workflows/ci.yaml
  .github/workflows/fuzzer.yaml
  .gitignore
  Cargo.lock
  Cargo.toml
  README.md
  benchmarks/README.md
  benchmarks/stress/Cargo.lock
  benchmarks/stress/Cargo.toml
  deny.toml
  vqueue/Cargo.toml
  vsmtp-common/Cargo.toml
  vsmtp-config/Cargo.toml
  vsmtp-delivery/Cargo.toml
  vsmtp-mail-parser/Cargo.toml
  vsmtp-rule-engine/Cargo.toml
  vsmtp-server/Cargo.toml
  vsmtp-server/src/receiver/connection.rs
  vsmtp-test/Cargo.toml
  vsmtp/Cargo.toml
Labels: P-medium, A-ci, A-test

#313 Quarantine Behavior
  .vscode/settings.json
  src/vsmtp/vsmtp-common/src/status.rs
  src/vsmtp/vsmtp-config/src/lib.rs
  src/vsmtp/vsmtp-config/src/tests/mod.rs
  src/vsmtp/vsmtp-rule-engine/src/api/sys-api.rhai
  src/vsmtp/vsmtp-rule-engine/src/modules/actions.rs
  src/vsmtp/vsmtp-rule-engine/src/modules/actions/rule_state.rs
  src/vsmtp/vsmtp-rule-engine/src/modules/actions/write.rs
  src/vsmtp/vsmtp-rule-engine/src/rule_engine.rs
  src/vsmtp/vsmtp-rule-engine/src/tests/actions.rs
  src/vsmtp/vsmtp-server/src/lib.rs
  src/vsmtp/vsmtp-server/src/receiver/mod.rs
  src/vsmtp/vsmtp-server/src/receiver/transaction.rs
  src/vsmtp/vsmtp-test/src/tests/mod.rs
  src/vsmtp/vsmtp-test/src/tests/rules/mod.rs
  src/vsmtp/vsmtp-test/src/tests/rules/quarantine/main.vsl
  src/vsmtp/vsmtp-test/src/tests/rules/quarantine/mod.rs
Labels: C-bug, A-rule-engine

#311 Rule engine enhancements
  src/vsmtp/vsmtp-common/src/mail.rs
  src/vsmtp/vsmtp-rule-engine/src/api/sys-api.rhai
  src/vsmtp/vsmtp-rule-engine/src/modules/actions/headers.rs
  src/vsmtp/vsmtp-rule-engine/src/modules/mail_context.rs
  src/vsmtp/vsmtp-rule-engine/src/modules/types.rs
  src/vsmtp/vsmtp-rule-engine/src/rule_engine.rs
  src/vsmtp/vsmtp-rule-engine/src/rule_state.rs
  src/vsmtp/vsmtp-rule-engine/src/tests/email/main.vsl
  src/vsmtp/vsmtp-rule-engine/src/tests/email/mod.rs
  src/vsmtp/vsmtp-rule-engine/src/tests/engine/constants/main.vsl
  src/vsmtp/vsmtp-rule-engine/src/tests/engine/mod.rs
  src/vsmtp/vsmtp-rule-engine/src/tests/types/objects/main.vsl
Labels: C-enhancement, A-rule-engine

#316 ci: add release + post-release workflows
  .github/release-notes.py
  .github/workflows/ci.yaml
  .github/workflows/post-release.yaml
  .github/workflows/release.yml
  CHANGELOG.md
  Cargo.toml
  README.md
  ROADMAP.md
  release.toml
Labels: A-ci

#321 Empty list of MX records
  .vscode/settings.json
  src/vsmtp/vsmtp-delivery/src/transport/deliver.rs
Labels: A-delivery

#323 Null MX record
  src/vsmtp/vsmtp-delivery/src/transport/deliver.rs
Labels: A-delivery, A-protocol

#324 Update smtp reply codes
  Cargo.lock
  examples/config/logging.toml
  fuzz/fuzz_targets/receiver.rs
  src/vsmtp/vsmtp-common/Cargo.toml
  src/vsmtp/vsmtp-common/src/code.rs
  src/vsmtp/vsmtp-common/src/event.rs
  src/vsmtp/vsmtp-common/src/lib.rs
  src/vsmtp/vsmtp-common/src/smtp.rs
  src/vsmtp/vsmtp-common/src/status.rs
  src/vsmtp/vsmtp-common/src/tests/event.rs
  src/vsmtp/vsmtp-common/src/type/code_id.rs
  src/vsmtp/vsmtp-common/src/type/reply.rs
  src/vsmtp/vsmtp-common/src/type/reply_code.rs
  src/vsmtp/vsmtp-config/Cargo.toml
  src/vsmtp/vsmtp-config/src/builder/validate.rs
  src/vsmtp/vsmtp-config/src/builder/wants.rs
  src/vsmtp/vsmtp-config/src/builder/with.rs
  src/vsmtp/vsmtp-config/src/config.rs
  src/vsmtp/vsmtp-config/src/default.rs
  src/vsmtp/vsmtp-config/src/tests/root_example/logging.rs
  src/vsmtp/vsmtp-config/src/tests/validate.rs
  src/vsmtp/vsmtp-rule-engine/src/dsl/object/mod.rs
  src/vsmtp/vsmtp-rule-engine/src/dsl/object/parsing.rs
  src/vsmtp/vsmtp-rule-engine/src/modules/actions/rule_state.rs
  src/vsmtp/vsmtp-rule-engine/src/modules/types.rs
  src/vsmtp/vsmtp-rule-engine/src/rule_engine.rs
  src/vsmtp/vsmtp-rule-engine/src/tests/actions.rs
  src/vsmtp/vsmtp-rule-engine/src/tests/email/mod.rs
  src/vsmtp/vsmtp-rule-engine/src/tests/engine/mod.rs
  src/vsmtp/vsmtp-rule-engine/src/tests/integrations.rs
  src/vsmtp/vsmtp-rule-engine/src/tests/rules.rs
  src/vsmtp/vsmtp-rule-engine/src/tests/types/objects/vars.vsl
  src/vsmtp/vsmtp-server/benches/receiver.rs
  src/vsmtp/vsmtp-server/src/auth.rs
  src/vsmtp/vsmtp-server/src/processes/delivery.rs
  src/vsmtp/vsmtp-server/src/receiver/auth_exchange.rs
  src/vsmtp/vsmtp-server/src/receiver/connection.rs
  src/vsmtp/vsmtp-server/src/receiver/mod.rs
  src/vsmtp/vsmtp-server/src/receiver/transaction.rs
  src/vsmtp/vsmtp-server/src/server.rs
  src/vsmtp/vsmtp-test/src/receiver.rs
  src/vsmtp/vsmtp-test/src/tests/auth.vsl
  src/vsmtp/vsmtp-test/src/tests/auth/basic.rs
  src/vsmtp/vsmtp-test/src/tests/clair.rs
  src/vsmtp/vsmtp-test/src/tests/examples/doe_family.rs
  src/vsmtp/vsmtp-test/src/tests/rset.rs
  src/vsmtp/vsmtp-test/src/tests/rules/codes/custom_codes_deny.vsl
  src/vsmtp/vsmtp-test/src/tests/rules/codes/custom_codes_info.vsl
  src/vsmtp/vsmtp-test/src/tests/utf8.rs
Labels: C-enhancement, A-rule-engine, A-protocol

#327 Spf
  .vscode/settings.json
  Cargo.lock
  examples/vsl/rules/objects-parsing.vsl
  fuzz/fuzz_targets/receiver.rs
  src/vsmtp/vsmtp-common/src/lib.rs
  src/vsmtp/vsmtp-common/src/mail.rs
  src/vsmtp/vsmtp-common/src/mail_context.rs
  src/vsmtp/vsmtp-common/src/mechanism.rs
  src/vsmtp/vsmtp-common/src/transfer.rs
  src/vsmtp/vsmtp-config/src/lib.rs
  src/vsmtp/vsmtp-config/src/trust_dns_helper.rs
  src/vsmtp/vsmtp-delivery/src/transport/forward.rs
  src/vsmtp/vsmtp-mail-parser/src/error.rs
  src/vsmtp/vsmtp-rule-engine/Cargo.toml
  src/vsmtp/vsmtp-rule-engine/src/api/auth.rhai
  src/vsmtp/vsmtp-rule-engine/src/api/codes.rhai
  src/vsmtp/vsmtp-rule-engine/src/api/networks.rhai
  src/vsmtp/vsmtp-rule-engine/src/dsl/service/databases/mod.rs
  src/vsmtp/vsmtp-rule-engine/src/error.rs
  src/vsmtp/vsmtp-rule-engine/src/modules/actions.rs
  src/vsmtp/vsmtp-rule-engine/src/modules/actions/bcc.rs
  src/vsmtp/vsmtp-rule-engine/src/modules/actions/headers.rs
  src/vsmtp/vsmtp-rule-engine/src/modules/actions/rule_state.rs
  src/vsmtp/vsmtp-rule-engine/src/modules/actions/security.rs
  src/vsmtp/vsmtp-rule-engine/src/modules/actions/transports.rs
  src/vsmtp/vsmtp-rule-engine/src/modules/actions/write.rs
  src/vsmtp/vsmtp-rule-engine/src/modules/mail_context.rs
  src/vsmtp/vsmtp-rule-engine/src/modules/mod.rs
  src/vsmtp/vsmtp-rule-engine/src/rule_engine.rs
  src/vsmtp/vsmtp-rule-engine/src/rule_state.rs
  src/vsmtp/vsmtp-rule-engine/src/server_api.rs
  src/vsmtp/vsmtp-rule-engine/src/tests/actions.rs
  src/vsmtp/vsmtp-rule-engine/src/tests/email/mod.rs
  src/vsmtp/vsmtp-rule-engine/src/tests/engine/constants/main.vsl
  src/vsmtp/vsmtp-rule-engine/src/tests/engine/mod.rs
  src/vsmtp/vsmtp-rule-engine/src/tests/integrations.rs
  src/vsmtp/vsmtp-rule-engine/src/tests/mod.rs
  src/vsmtp/vsmtp-rule-engine/src/tests/types/mod.rs
  src/vsmtp/vsmtp-server/src/auth.rs
  src/vsmtp/vsmtp-server/src/processes/delivery.rs
  src/vsmtp/vsmtp-server/src/processes/delivery/deliver.rs
  src/vsmtp/vsmtp-server/src/processes/postq.rs
  src/vsmtp/vsmtp-server/src/receiver/auth_exchange.rs
  src/vsmtp/vsmtp-server/src/receiver/io.rs
  src/vsmtp/vsmtp-server/src/receiver/mod.rs
  src/vsmtp/vsmtp-server/src/receiver/transaction.rs
  src/vsmtp/vsmtp-server/src/runtime.rs
  src/vsmtp/vsmtp-server/src/server.rs
  src/vsmtp/vsmtp-test/Cargo.toml
  src/vsmtp/vsmtp-test/src/receiver.rs
  src/vsmtp/vsmtp-test/src/tests/auth/all_mechanism.rs
  src/vsmtp/vsmtp-test/src/tests/tls/mod.rs
Labels: C-enhancement, A-rule-engine

#329 Listener as stream
  Cargo.lock
  fuzz/fuzz_targets/receiver.rs
  src/vsmtp/src/main.rs
  src/vsmtp/vsmtp-server/Cargo.toml
  src/vsmtp/vsmtp-server/src/lib.rs
  src/vsmtp/vsmtp-server/src/receiver/connection.rs
  src/vsmtp/vsmtp-server/src/receiver/mod.rs
  src/vsmtp/vsmtp-server/src/runtime.rs
  src/vsmtp/vsmtp-server/src/server.rs
  src/vsmtp/vsmtp-test/src/receiver.rs
  src/vsmtp/vsmtp-test/src/tests/auth/all_mechanism.rs
  src/vsmtp/vsmtp-test/src/tests/tls/mod.rs
Labels: C-enhancement, P-high, A-test, A-net

#328 Feat/custom code status
  benchmarks/stress/vsmtp.stress.toml
  fuzz/fuzz_targets/receiver.rs
  src/vsmtp/vsmtp-common/src/queue.rs
  src/vsmtp/vsmtp-common/src/state.rs
  src/vsmtp/vsmtp-common/src/status.rs
  src/vsmtp/vsmtp-common/src/transfer.rs
  src/vsmtp/vsmtp-common/src/type/code_id.rs
  src/vsmtp/vsmtp-config/src/default.rs
  src/vsmtp/vsmtp-rule-engine/src/modules/actions/rule_state.rs
  src/vsmtp/vsmtp-rule-engine/src/rule_engine.rs
  src/vsmtp/vsmtp-rule-engine/src/rule_state.rs
  src/vsmtp/vsmtp-rule-engine/src/tests/actions.rs
  src/vsmtp/vsmtp-rule-engine/src/tests/email/mod.rs
  src/vsmtp/vsmtp-rule-engine/src/tests/engine/mod.rs
  src/vsmtp/vsmtp-rule-engine/src/tests/integrations.rs
  src/vsmtp/vsmtp-rule-engine/src/tests/rules.rs
  src/vsmtp/vsmtp-rule-engine/src/tests/types/mod.rs
  src/vsmtp/vsmtp-server/benches/receiver.rs
  src/vsmtp/vsmtp-server/src/auth.rs
  src/vsmtp/vsmtp-server/src/receiver/mod.rs
  src/vsmtp/vsmtp-server/src/receiver/transaction.rs
  src/vsmtp/vsmtp-test/src/receiver.rs
  src/vsmtp/vsmtp-test/src/tests/auth/basic.rs
  src/vsmtp/vsmtp-test/src/tests/clair.rs
  src/vsmtp/vsmtp-test/src/tests/examples/doe_family.rs
  src/vsmtp/vsmtp-test/src/tests/rset.rs
  src/vsmtp/vsmtp-test/src/tests/rules/codes/custom_codes_accept.vsl
  src/vsmtp/vsmtp-test/src/tests/rules/codes/mod.rs
  src/vsmtp/vsmtp-test/src/tests/rules/quarantine/mod.rs
  src/vsmtp/vsmtp-test/src/tests/utf8.rs
Labels: C-enhancement, P-medium, A-vsl

#331 Feat/ci benchmark
  .github/workflows/benchmark.yaml
  .github/workflows/ci.yaml
  Cargo.lock
  src/vsmtp/vsmtp-server/Cargo.toml
  src/vsmtp/vsmtp-server/benches/iai/proof.rs
  src/vsmtp/vsmtp-server/benches/iai/proof2.rs
Labels: C-enhancement, P-critical, A-ci, A-perf

#332 Benchmark on receiver
  .github/workflows/benchmark.yaml
  Cargo.lock
  fuzz/fuzz_targets/mime_parser.rs
  src/vqueue/src/command/mod.rs
  src/vqueue/src/command/msg_command/show.rs
  src/vqueue/src/command/queue_show.rs
  src/vsmtp/vsmtp-common/Cargo.toml
  src/vsmtp/vsmtp-common/src/event.rs
  src/vsmtp/vsmtp-common/src/lib.rs
  src/vsmtp/vsmtp-common/src/mail.rs
  src/vsmtp/vsmtp-common/src/mail_context.rs
  src/vsmtp/vsmtp-common/src/mime_type.rs
  src/vsmtp/vsmtp-common/src/tests/event.rs
  src/vsmtp/vsmtp-common/src/trait/mail_parser.rs
  src/vsmtp/vsmtp-delivery/src/lib.rs
  src/vsmtp/vsmtp-mail-parser/src/error.rs
  src/vsmtp/vsmtp-mail-parser/src/parser.rs
  src/vsmtp/vsmtp-mail-parser/src/tests/mime_parser/allen_p__discussion_threads__1.rs
  src/vsmtp/vsmtp-mail-parser/src/tests/mime_parser/methods.rs
  src/vsmtp/vsmtp-mail-parser/src/tests/mime_parser/mime1.rs
  src/vsmtp/vsmtp-mail-parser/src/tests/mime_parser/rfc2049/a.rs
  src/vsmtp/vsmtp-mail-parser/src/tests/mime_parser/rfc5322/a_1_1.rs
  src/vsmtp/vsmtp-mail-parser/src/tests/mime_parser/rfc5322/a_1_2.rs
  src/vsmtp/vsmtp-mail-parser/src/tests/mime_parser/rfc5322/a_1_3.rs
  src/vsmtp/vsmtp-mail-parser/src/tests/mime_parser/rfc5322/a_2.rs
  src/vsmtp/vsmtp-mail-parser/src/tests/mime_parser/rfc5322/a_3.rs
  src/vsmtp/vsmtp-mail-parser/src/tests/mime_parser/rfc5322/a_4.rs
  src/vsmtp/vsmtp-mail-parser/src/tests/mime_parser/rfc5322/a_5.rs
  src/vsmtp/vsmtp-mail-parser/src/tests/mod.rs
  src/vsmtp/vsmtp-rule-engine/src/modules/actions.rs
  src/vsmtp/vsmtp-rule-engine/src/modules/actions/headers.rs
  src/vsmtp/vsmtp-rule-engine/src/modules/actions/write.rs
  src/vsmtp/vsmtp-rule-engine/src/modules/mail_context.rs
  src/vsmtp/vsmtp-rule-engine/src/rule_state.rs
  src/vsmtp/vsmtp-rule-engine/src/tests/actions.rs
  src/vsmtp/vsmtp-rule-engine/src/tests/email/mod.rs
  src/vsmtp/vsmtp-rule-engine/src/tests/engine/mod.rs
  src/vsmtp/vsmtp-rule-engine/src/tests/rules.rs
  src/vsmtp/vsmtp-rule-engine/src/tests/types/mod.rs
  src/vsmtp/vsmtp-server/Cargo.toml
  src/vsmtp/vsmtp-server/benches/iai/proof.rs
  src/vsmtp/vsmtp-server/benches/iai/proof2.rs
  src/vsmtp/vsmtp-server/benches/iai/receiver.rs
  src/vsmtp/vsmtp-server/benches/receiver.rs
  src/vsmtp/vsmtp-server/benches/receiver2.rs
  src/vsmtp/vsmtp-server/src/processes/delivery.rs
  src/vsmtp/vsmtp-server/src/processes/delivery/deferred.rs
  src/vsmtp/vsmtp-server/src/processes/delivery/deliver.rs
  src/vsmtp/vsmtp-server/src/processes/postq.rs
  src/vsmtp/vsmtp-server/src/receiver/connection.rs
  src/vsmtp/vsmtp-server/src/receiver/mod.rs
  src/vsmtp/vsmtp-server/src/receiver/on_mail.rs
  src/vsmtp/vsmtp-server/src/receiver/transaction.rs
  src/vsmtp/vsmtp-server/src/server.rs
  src/vsmtp/vsmtp-test/src/tests/clair.rs
  src/vsmtp/vsmtp-test/src/tests/rset.rs
  src/vsmtp/vsmtp-test/src/tests/rules/quarantine/mod.rs
  src/vsmtp/vsmtp-test/src/tests/utf8.rs
Labels: C-enhancement, P-high, A-ci, A-perf

#336 Refact/separate body and context
  .vscode/settings.json
  Cargo.lock
  benchmarks/stress/vsmtp.stress.toml
  fuzz/fuzz_targets/receiver.rs
  src/vqueue/src/command/mod.rs
  src/vqueue/src/command/msg_command/show.rs
  src/vqueue/src/command/queue_show.rs
  src/vsmtp/vsmtp-common/Cargo.toml
  src/vsmtp/vsmtp-common/src/mail_context.rs
  src/vsmtp/vsmtp-common/src/message/mail.rs
  src/vsmtp/vsmtp-common/src/message/mime_type.rs
  src/vsmtp/vsmtp-common/src/queue.rs
  src/vsmtp/vsmtp-common/src/rcpt.rs
  src/vsmtp/vsmtp-config/src/config.rs
  src/vsmtp/vsmtp-config/src/default.rs
  src/vsmtp/vsmtp-config/src/lib.rs
  src/vsmtp/vsmtp-delivery/src/lib.rs
  src/vsmtp/vsmtp-rule-engine/src/api/rhai-api.rhai
  src/vsmtp/vsmtp-rule-engine/src/api/sys-api.rhai
  src/vsmtp/vsmtp-rule-engine/src/modules/actions.rs
  src/vsmtp/vsmtp-rule-engine/src/modules/actions/headers.rs
  src/vsmtp/vsmtp-rule-engine/src/modules/actions/write.rs
  src/vsmtp/vsmtp-rule-engine/src/modules/mail_context.rs
  src/vsmtp/vsmtp-rule-engine/src/modules/types.rs
  src/vsmtp/vsmtp-rule-engine/src/rule_state.rs
  src/vsmtp/vsmtp-rule-engine/src/tests/actions.rs
  src/vsmtp/vsmtp-rule-engine/src/tests/email/main.vsl
  src/vsmtp/vsmtp-rule-engine/src/tests/email/mod.rs
  src/vsmtp/vsmtp-rule-engine/src/tests/engine/mod.rs
  src/vsmtp/vsmtp-rule-engine/src/tests/rules.rs
  src/vsmtp/vsmtp-rule-engine/src/tests/types/mod.rs
  src/vsmtp/vsmtp-server/Cargo.toml
  src/vsmtp/vsmtp-server/benches/receiver.rs
  src/vsmtp/vsmtp-server/src/delivery/deferred.rs
  src/vsmtp/vsmtp-server/src/delivery/deliver.rs
  src/vsmtp/vsmtp-server/src/delivery/mod.rs
  src/vsmtp/vsmtp-server/src/lib.rs
  src/vsmtp/vsmtp-server/src/processing/mod.rs
  src/vsmtp/vsmtp-server/src/receiver/mod.rs
  src/vsmtp/vsmtp-server/src/receiver/on_mail.rs
  src/vsmtp/vsmtp-server/src/receiver/transaction.rs
  src/vsmtp/vsmtp-server/src/runtime.rs
  src/vsmtp/vsmtp-server/src/server.rs
  src/vsmtp/vsmtp-test/src/receiver.rs
  src/vsmtp/vsmtp-test/src/tests/auth/basic.rs
  src/vsmtp/vsmtp-test/src/tests/clair.rs
  src/vsmtp/vsmtp-test/src/tests/examples/doe_family.rs
  src/vsmtp/vsmtp-test/src/tests/rset.rs
  src/vsmtp/vsmtp-test/src/tests/rules/quarantine/mod.rs
  src/vsmtp/vsmtp-test/src/tests/utf8.rs
Labels: P-high, A-delivery, A-queue
